<div>
  <div class="container">
    <div class="content">
      <mat-card>
        <mat-form-field>
          <mat-icon matPrefix>cloud</mat-icon>
          <input [formControl]="cityFormControl" matInput placeholder="Choose location" type="text">
        </mat-form-field>
        <button (click)="getWeather()" color="primary" mat-raised-button>Find</button>
        <button (click)="saveLocation()" *ngIf="isUserSignedIn()" color="primary" mat-raised-button matSuffix>
          Uložit
        </button>
      </mat-card>
    </div>
  </div>

  <div class="container flex-container">
    <div class="flex-container-center">
      <div class="row">
        <mat-card class="col">
          <mat-card-title>Current weather</mat-card-title>
          <mat-card-subtitle>
            <mat-icon *ngIf="currentWeather().isDay">brightness_5</mat-icon>
            <mat-icon *ngIf="!currentWeather().isDay">brightness_1</mat-icon>
          </mat-card-subtitle>
          <mat-card-content>
            <div *ngIf="currentWeather()">
              <p>Date: {{ moment(currentWeather().time).format("DD-MM-YYYY") }}</p>
              <p>Time: {{ moment(currentWeather().time).format("HH:MM") }}</p>
              <p>Temperature: {{ currentWeather().temperature }} °C</p>
              <p>Cloud cover: {{ currentWeather().cloudCover }} %</p>
              <p>Wind speed: {{ currentWeather().temperature }} km/h</p>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="isUserSignedIn()" class="col">
          <mat-card-title>Graph of forecast weather</mat-card-title>
          <mat-card-subtitle>
            <mat-icon *ngIf="currentWeather().isDay">brightness_5</mat-icon>
            <mat-icon *ngIf="!currentWeather().isDay">brightness_1</mat-icon>
          </mat-card-subtitle>
          <mat-card-content>
            <app-weather-graph></app-weather-graph>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
