<div>
  <div class="container">
    <div class="content">
      <mat-card>
        <mat-form-field>
          <mat-icon matPrefix>cloud</mat-icon>
          <input matInput [formControl]="cityForm" type="text" placeholder="Vyberte počasí">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="getCurrentWeather()">Hledat</button>
      </mat-card>
    </div>
  </div>

  <div class="container flex-container">
    <div class="flex-container-center">
      <div class="row">
        <mat-card class="col">
          <mat-card-title>Current Weather</mat-card-title>
          <mat-icon *ngIf="currentSignal().isDay">brightness_5</mat-icon>
          <mat-icon *ngIf="!currentSignal().isDay">brightness_1</mat-icon>
          <mat-card-content>
            <div *ngIf="currentSignal()">
              <p>Čas: {{ currentSignal().time }}</p>
              <p>Teplota: {{ currentSignal().temperature }}°C</p>
              <p>Oblačnost: {{ currentSignal().cloudCover }}</p>
              <p>Rychlost větru: {{ currentSignal().temperature}}</p>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="col">
          <mat-card-title>Forecast Weather</mat-card-title>
          <mat-card-content>
            <div *ngIf="currentSignal()">
              <p>Čas: {{ currentSignal().time }}</p>
              <p>Teplota: {{ currentSignal().temperature }}°C</p>
              <p>Oblačnost: {{ currentSignal().cloudCover }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
