<div class="container">
  <div class="content">
    <ng-container>
      <mat-table [dataSource]="weatherLocations()">
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let element, let i = index" mat-cell> {{ i }}</td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th *matHeaderCellDef mat-header-cell> Location</th>
          <td *matCellDef="let element" mat-cell><strong> {{ element.location }} </strong></td>
        </ng-container>

        <ng-container matColumnDef="show">
          <th *matHeaderCellDef mat-header-cell> Show weather</th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="showWeather(element.location)" color="primary" mat-raised-button>
              Show
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef mat-header-cell> Delete location</th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="deleteUserWeatherLocation(element.id)" color="primary" mat-raised-button>
              Delete
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </mat-table>
    </ng-container>
  </div>
  <div class="content">
    <mat-card>
      <mat-card-title>Current weather</mat-card-title>
      <mat-card-subtitle>
        <mat-icon *ngIf="currentWeather().isDay">brightness_5</mat-icon>
        <mat-icon *ngIf="!currentWeather().isDay">brightness_1</mat-icon>
      </mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="currentWeather()">
          <p>Date: {{ moment(currentWeather().time).format("HH:MM DD-MM-YYYY") }}</p>
          <p>Temperature: {{ currentWeather().temperature }} °C</p>
          <p>Cloud cover: {{ currentWeather().cloudCover }} %</p>
          <p>Wind speed: {{ currentWeather().temperature }} km/h</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="content">
    <mat-card>
      <mat-card-title>Graph of forecast weather</mat-card-title>
      <mat-card-subtitle>
        <mat-icon *ngIf="currentWeather().isDay">brightness_5</mat-icon>
        <mat-icon *ngIf="!currentWeather().isDay">brightness_1</mat-icon>
      </mat-card-subtitle>
      <mat-card-content>
        <app-weather-graph></app-weather-graph>
      </mat-card-content>
    </mat-card>
  </div>
</div>
