<form #formDirective="ngForm" (ngSubmit)="onSubmit()"
      *ngIf="formGroup"
      [formGroup]="formGroup">
  <div class="auth-container">
    <div class="auth-content">
      <mat-toolbar class="auth-toolbar" color="primary">Sign in</mat-toolbar>
      <mat-card>

        <mat-form-field>
          <mat-icon matPrefix>alternate_email</mat-icon>
          <input [formControlName]="'email'" matInput placeholder="Email" type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input [formControlName]="'password'" matInput placeholder="Password" type="password">
        </mat-form-field>

        <button color="primary" mat-raised-button type="submit">Sign in</button>
        <br>
        <button (click)="openSignUpForm()" color="basic" mat-raised-button type="button">Sign up</button>
        <br>
      </mat-card>
    </div>
  </div>
</form>
