<form #formDirective="ngForm" (ngSubmit)="onSubmit()"
      *ngIf="formGroup"
      [formGroup]="formGroup">
  <div class="registration-container">
    <div class="registration-content">
      <mat-toolbar class="registration-toolbar" color="primary">Login</mat-toolbar>
      <mat-card>

        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input [formControlName]="'username'" matInput placeholder="Username" type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input [formControlName]="'email'" matInput placeholder="Email" type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input [formControlName]="'password'" matInput placeholder="Password" type="password">
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input [formControlName]="'passwordConfirmation'" matInput placeholder="PasswordConfirmation" type="password">
        </mat-form-field>

        <button color="primary" mat-raised-button type="submit" >Registrovat se</button>
        <br>
        <button color="basic" mat-raised-button type="button" (click)="openLoginForm()">Přihlásit se</button>
        <br>
      </mat-card>
    </div>
  </div>
</form>
